
# PlanAhead Generated physical constraints 

NET "clk" LOC = C9;
NET "clko" LOC = F8;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "clko" IOSTANDARD = LVCMOS33;
NET "dio" IOSTANDARD = LVCMOS33;
NET "stb" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "dio" LOC = C7;
NET "stb" LOC = E8;
