//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 04 07:40:30 2023
//! **************************************************************************

SCHEMATIC START;
COMP "dio" LOCATE = SITE "C7" LEVEL 1;
COMP "sw0" LOCATE = SITE "L13" LEVEL 1;
COMP "sw1" LOCATE = SITE "L14" LEVEL 1;
COMP "sw2" LOCATE = SITE "H18" LEVEL 1;
COMP "stb" LOCATE = SITE "E8" LEVEL 1;
COMP "clki" LOCATE = SITE "C9" LEVEL 1;
COMP "clko" LOCATE = SITE "F8" LEVEL 1;
NET "clki_BUFGP/IBUFG" BEL "clki_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

