

NET "clki" LOC = C9;
NET "clko" LOC = F8;
NET "dio" LOC = C7;
NET "stb" LOC = E8;
NET "sw0" LOC = L13;
NET "sw1" LOC = L14;
NET "sw2" LOC = H18;

# PlanAhead Generated IO constraints 

NET "clko" IOSTANDARD = LVCMOS33;
NET "dio" IOSTANDARD = LVCMOS33;
NET "stb" IOSTANDARD = LVCMOS33;
NET "sw2" IOSTANDARD = LVCMOS25;
NET "clki" IOSTANDARD = LVCMOS33;
NET "sw0" IOSTANDARD = LVCMOS33;
NET "sw1" IOSTANDARD = LVCMOS33;
